*{
    margin: 0;
    padding: 0;
}

.tasks{
    background-color: aquamarine;
    padding: 3pc;
    box-shadow: 0 0 6px rgba(red, green, blue, alpha);
    transform: scale(1);
    transition: transform 0.02 ease-in-out;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1pc;
}

.tasks:hover{
    background: rgb(185, 168, 134);
    transform: scale(1.05);
    animation: tarjeta 1s infinite alternate;
}